.p1 {
    color: #0b872c;
}
#div1{
    margin: 10px 15px;
    padding: 5px 0;
    background:cyan;
    border-radius: 15px;
}
#div1>h1{
    color: blue;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px #555;
}
#div2{
    margin: 10px 15px;
    padding: 10px;
    background: #ecfa91;
    display: grid; 
    grid-template-columns: repeat(12,1fr);
    column-gap: 12px;
    border-radius: 15px;    
}
#div3a{
    margin: 10px;
    padding: 0 10px;
    background: #90e07e;
    grid-column: 1/span 3;
}
#div3b{
    margin: 10px;
    padding: 0 10px;
    background: #90e07e;
    grid-column: 4/span 9;
}
#div3b>img{
    display: block;
    margin: 0 auto;
    width: 30%;
}
#div3a>ul{
    list-style-type: none;
    padding: 10px;
}
#div3a>ul>li{
    margin: 10px 0;
    background: green;
    padding: 10px;
}
#div4{
    margin: 10px 15px;
    padding: 5px 0;
    background: #e3b059;
    border-radius: 15px;
}
#div4>h3{
    color: #b03f25;
    text-align: center;
    font-family: monospace;
}
